extends includes/layout.pug
block content
    h1 Remedy base page
    p Links to other routes
    ul
        li: a(href="/hello")= "Hello main page"
        li: a(href="/hello/hi?name=Someone")= "Say hi to someone"
    hr
    form(action="/hello/hi" method="GET")
        input(type="text" name="name")
        button(type=submit) Say hi!
