doctype html
html
    head
        include ../../base/views/includes/head.pug
    body()
        include ../../base/views/includes/header.pug
        div#main.container
            h1 Remedy hello pages
            p Hello #{name}!
            hr
            a(href="/")= "Go back"
        include ../../base/views/includes/footer.pug